@model Client.DTOs.Auths.ChangePasswordDto
@{
    var toast = TempData["toast"] as dynamic;
    var email = TempData["email"] as string;
    var role = TempData["role"] as string;

    ViewData["Title"] = "Reset Password";
    Layout = "_LayoutAuth";
}

@section Toast{
    @if (toast != null)
    {
        var toastColor = toast.Color ?? "secondary";
        var toastClass = $"bs-toast toast toast-placement-ex m-2 fade bg-{toastColor} top-0 start-50 translate-middle-x";

        <div class="@toastClass" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
            <div class="toast-header">
                <i class="bx bx-bell me-2"></i>
                <div class="me-auto fw-semibold">@toast.Title</div>
            </div>
            <div class="toast-body">
                @toast.Subtitle
            </div>
        </div>
    }
}

<div class="card">
    <div class="card-body">
        <!-- Logo -->
        <div class="app-brand justify-content-center">
            <a asp-controller="Home" asp-action="Index" class="app-brand-link gap-2">
                <span class="app-brand-text demo text-body fw-bolder">
                    <img class="logo" src="../landing/img/icon.png" alt="" />tWiz
                </span>
            </a>
        </div>
        <!-- /Logo -->
        <h4 class="mb-2">Forgot Password?</h4>
        <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
        <form id="formAuthentication" class="mb-3" asp-action="ResetPassword" method="post">
            <div class="mb-3">
                <input type="hidden" name="type" id="type" value="@role"/>
                <input type="hidden" asp-for="Email" name="Email" id="email" value="@email"/>

                <label asp-for="Token" class="form-label">OTP</label>
                <input type="number"
                       class="form-control"
                       id="token"
                       name="Token"
                       asp-for="Token"
                       placeholder="Enter OTP"
                       autofocus />
                <span asp-validation-for="Token" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label">New Password</label>
                <input type="password"
                       class="form-control"
                       id="new-password"
                       name="NewPassword"
                       asp-for="NewPassword"
                       placeholder="Enter New Password"/>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                <input type="password"
                       class="form-control"
                       id="confirm-password"
                       name="ConfirmPassword"
                       asp-for="ConfirmPassword"
                       placeholder="Confirm New Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary d-grid w-100">Change Password</button>
        </form>
        <div class="text-center">
            <a asp-action="SignIn" class="d-flex align-items-center justify-content-center">
                <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                Back to login
            </a>
        </div>
    </div>
</div>