@using System.Globalization;
@{
    var payment = TempData["payment"] as dynamic;
    var toast = TempData["toast"] as dynamic;
    ViewData["Title"] = "Payment Required";
}

@section Toast{
    @if (toast != null)
    {
        var toastColor = toast.Color ?? "secondary";
        var toastClass = $"bs-toast toast toast-placement-ex m-2 fade bg-{toastColor} top-0 start-50 translate-middle-x";

        <div class="@toastClass" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
            <div class="toast-header">
                <i class="bx bx-bell me-2"></i>
                <div class="me-auto fw-semibold">@toast.Title</div>
            </div>
            <div class="toast-body">
                @toast.Subtitle
            </div>
        </div>
    }
}

<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <div class="display-1 mb-2 mx-2 text-secondary">402</div>
        <h2 class="mb-2 mx-2">Payment Required</h2>
        <p class="mb-4 mx-2">Oh no! Your account is Inactive. Please make the payment to activate it<br />If you done the payment process, click button bellow to upload the proof of register payment</p>

        <div class="card">
            <div class="card-header text-center">
                @{
                    CultureInfo indonesianCulture = new CultureInfo("id-ID");
                    string formattedPrice = ((decimal)payment?.Price).ToString("N0", indonesianCulture).Replace(",", "."); ;
                }
                <h2 class="mb-0">IDR @formattedPrice,-</h2>


            </div>
            <div class="card-body text-center">
                <div class="fw-bold">Virtual Account Number</div>
                <h1 class="mb-2 text-primary">
                    @{
                        string vaNumber = payment!.VaNumber.ToString();
                        if (!string.IsNullOrEmpty(vaNumber) && vaNumber.Length >= 8)
                        {
                            vaNumber = vaNumber.Insert(2, " ");
                            vaNumber = vaNumber.Insert(6, " ");
                            vaNumber = vaNumber.Insert(8, " ");
                        }
                    }
                    @vaNumber</h1>
                <h5 class="mb-2">@payment?.BankCode @payment?.BankName</h5>

                <div class=" mt-3 mb-0 alert alert-primary small alert-sm border border-primary" role="alert">
                    Make Sure the Acquirer Name is <span class="fw-bold">PT Twiz Digital Solutions</span>
                </div>

                <form class="mt-3" action="">
                    <div class="row">
                        <div class="col">
                            <input class="form-control" type="file" id="fileInput" required>
                        </div>

                        <div class="col-auto ps-0">
                            <button type="submit" class="btn btn-primary" id="submitBtnrp">Send</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer border-top">
                <div class="text-center">
                    You have paid? Just <a asp-controller="Auth" asp-action="SignInAsCompany" class="text-primary">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        document.getElementById("submitBtnrp").addEventListener("click", function (e) {
            e.preventDefault();
            const fileInput = document.getElementById("fileInput");
            const file = fileInput.files[0];

            if (file) {
                const formData = new FormData();
                formData.append("PaymentImage", file);
                formData.append("Guid", "@payment.Guid");

                // Ganti "http://example.com/upload" dengan URL API Anda
                const apiUrl = "https://localhost:7249/api/register-payments/payment-submission";

                fetch(apiUrl, {
                    method: "PUT",
                    body: formData,
                })
                    .then((response) => response.json())
                    .then((data) => {
                        // Lakukan sesuatu dengan data respons dari API jika diperlukan
                        console.log(data);
                        console.log("helloworld1")
                        Swal.fire({
                            icon: 'success',
                            title: 'Wait For The Admin Checked Your Payment',
                            text: 'File Success To Uploaded!',
                        }).then((result) => {
                            if (result.isConfirmed) {
                                redirectToSignIn();
                            }
                        });
                        function redirectToSignIn() {
                            window.location.href = 'https://localhost:7153/Auth/SignInAsCompany';
                        }
                    })

                      
                    .catch((error) => {
                        // Tangani kesalahan jika terjadi
                        console.error("Error:", error);
                        console.log("helloworld2")
                    });
            } else {
                // Tampilkan pesan kesalahan jika file belum dipilih
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please Upload Your File!',
                    footer: '<a href="">Why do I have this issue?</a>'
                })
            }
        });
    </script>

}
