@model IEnumerable<API.DTOs.Events.EventsDto>

@{
    ViewData["Title"] = "Events";
    Layout = "_LayoutAdmin";
}

<div class="row">
    <div class="col-sm-4">
        <h3>Events</h3>
    </div>

    <div class="col-sm-8 text-right">
        <a href="#custom-modal" class="btn btn-primary waves-effect waves-light mb-3" data-animation="fadein" data-plugin="custommodal"
           data-overlaySpeed="200" data-overlayColor="#36404a"><i class="md md-add"></i> Add Event</a>
    </div>
</div>
<!-- end row -->


<div class="row">
    @foreach (var item in Model) {
    <div class="col-lg-4">
         <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3 pr-0">
                        <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" class="img-thumbnail" alt="profile-image">
                    </div>
                    <div class="col pr-0">
                        <h4 class="mb-1 mt-0">@Html.DisplayFor(modelItem => item.Name)</h4>
                        <p class="text-muted fw-bold mb-0">at <b> @Html.DisplayFor(modelItem => item.Place) </b></p>
                        <p class="text-primary fw-bold mb-0"><b> Rp @Html.DisplayFor(modelItem => item.Price) </b></p>
                        <p class="text-muted mb-0 font-13">
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-white">
                <button type="button" class="btn btn-primary btn-sm waves-effect waves-light">
                    <i class="bi bi-pencil"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm waves-effect waves-light">
                        <i class="bi bi-trash"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">
                    <i class="bi bi-three-dots"></i>
                </button>
                    <button type="button" class="btn btn-info btn-sm waves-effect waves-light"> View Participants </button>
            </div>
        </div>

    </div> <!-- end col -->
    }
</div>

@*<p>
    <a asp-action="Create">Create New</a>
</p>

<table id="events-table" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thumbnail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thumbnail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@
