@model IEnumerable<Client.DTOs.GetMasterEmployeeDtoClient>

@{
    Layout = "_LayoutAdmin";
}

<div class="row">
    <div class="col-xl-8">
        <div class="row">
            <div class="col-xl-4 col-sm-6">
                <div class="card-box widget-box-four">
                    <!-- <div id="dashboard-1" class="widget-box-four-chart"></div> -->
                    <div class="float-left">
                        <h4 class="mt-0 font-15 font-weight-medium mb-1 text-overflow" title="Total Revenue">Total Revenue</h4>
                        <p class="font-secondary text-muted">Jan - Apr 2019</p>
                        <h3 class="mb-0 mt-2"><span>$</span> <span data-plugin="counterup">5,2548</span></h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div><!-- end col -->

            <div class="col-xl-4 col-sm-6">
                <div class="card-box widget-box-four">
                    <!-- <div id="dashboard-2" class="widget-box-four-chart"></div> -->
                    <div class="float-left">
                        <h4 class="mt-0 font-15 mb-1 font-weight-medium text-overflow" title="Total Unique Visitors">Total Unique Visitors</h4>
                        <p class="font-secondary text-muted">Jan - Apr 2019</p>
                        <h3 class="mb-0 mt-2"><span>$</span> <span data-plugin="counterup">65,241</span></h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div><!-- end col -->

            <div class="col-xl-4 col-sm-6">
                <div class="card-box widget-box-four">
                    <!-- <div id="dashboard-3" class="widget-box-four-chart"></div> -->
                    <div class="float-left">
                        <h4 class="mt-0 font-15 mb-1 font-weight-medium text-overflow" title="Number of Transactions">Number of Transactions</h4>
                        <p class="font-secondary text-muted">Jan - Apr 2019</p>
                        <h3 class="mb-0 mt-2"><span>$</span> <span data-plugin="counterup">28,5960</span></h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="header-title">Sales Revenue</h4>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-4">
                                <div class="mt-3 mb-3">
                                    <h3 class="mb-2">2563</h3>
                                    <p class="text-uppercase mb-1 font-13 font-weight-normal">Lifetime total sales</p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mt-3 mb-3">
                                    <h3 class="mb-2">6952</h3>
                                    <p class="text-uppercase mb-1 font-13 font-weight-normal">Income amounts</p>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mt-3 mb-3">
                                    <h3 class="mb-2">1125</h3>
                                    <p class="text-uppercase mb-1 font-13 font-weight-normal">Total visits</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="morris-bar-stacked" style="height: 310px;" class="morris-charts"></div>

                </div>

            </div><!-- end col -->

        </div>
        <!-- end row -->

    </div><!-- end col -->


    <div class="col-xl-4">
        <div class="card-box text-center">
            <div class="text-center">
                <h5 class="font-weight-normal text-muted">Lifetime Sales</h5>
                <h3 class="mb-3"><i class="mdi mdi-arrow-up-bold-hexagon-outline text-success"></i> 48948 <small>USD</small></h3>
            </div>

            <div id="morris-line-example" style="height: 180px;" class="morris-charts"></div>

        </div>


        <div class="card-box">
            <h4 class="header-title mb-3">Recent Notifications</h4>

            <div class="mb-1">
                <p><span class="float-right text-dark">Mark Loyerdn</span> <span class="badge badge-primary">Visitor</span></p>
                <p class="mb-1">Praesent libero. Nunc nec dui vitae urna cursus lacinia. In venenatis eget justo in dictum. Vestibulum auctor raesent quisnm.</p>
                <p><i>2 Min ago</i></p>
            </div>

            <div class="">
                <p><span class="float-right text-dark">Mark Loyerdn</span> <span class="badge badge-success">Seller</span></p>
                <p class="mb-1">Praesent libero. Nunc nec dui vitae urna cursus lacinia. In venenatis eget justo in dictum. Vestibulum auctor raesent quisnm.</p>
                <p class="mb-0"><i>5 Hours ago</i></p>
            </div>
        </div>
    </div> <!-- end col -->

</div>
<!-- end row -->


<div class="row">
    <div class="col-12">
        <div class="card-box">
            <h4 class="header-title">Employees</h4>
            <p class="sub-header">
                For more Employees data, go to Employees Menu
            </p>

            <div class="table-responsive">

                <table id="data-table" class="table m-0 table-hover" style="width:100%">
                    <thead class="bg-light">
                        <tr>
                            @*            <th>
                            @Html.DisplayNameFor(model => model.Guid)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.Nik)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BirthDate)
                            </th>
                           @* <th>
                                @Html.DisplayNameFor(model => model.Gender)
                            </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.HiringDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CompanyName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CompanyEmail)
                            </th>
                            @*            <th>
                            @Html.DisplayNameFor(model => model.AccountGuid)
                            </th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @*            <td>
                            @Html.DisplayFor(modelItem => item.Guid)
                            </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nik)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BirthDate)
                                </td>
                               @* <td>
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.HiringDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @(item.CompanyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyEmail)
                                </td>
                                @*            <td>
                            @Html.DisplayFor(modelItem => item.AccountGuid)
                            </td>*@
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div> <!-- end row -->
