@using Client.Utilities.Enums;
@using System.Security.Claims;
@{
    // JWT Parse
    var username = User!.Claims!.FirstOrDefault(c => c.Type == ClaimTypes.Name)!.Value;
    var role = User!.Claims!.FirstOrDefault(c => c.Type == ClaimTypes.Role)!.Value;
    var navbarClass = "";
    var dropdownClass = "";
    if(role == RoleLevel.Company.ToString()){
        navbarClass = role;
    }
    if(role == RoleLevel.SysAdmin.ToString()){
        navbarClass = RoleLevel.Company.ToString() + " " + RoleLevel.SysAdmin.ToString();
    }
    var avatar = $"../assets/img/avatars/{role}.png";

    var signout = "https://localhost:7153/Auth/SignoutCompany";
    if(role == RoleLevel.Employee.ToString()){
        signout = "https://localhost:7153/Auth/SignoutEmployee";
    }
    if (role == RoleLevel.SysAdmin.ToString())
    {
        signout = "https://localhost:7153/Auth/SignoutSysAdmin";
    }

    var active = ViewBag.Active as string;
}

<!DOCTYPE html>

<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-light"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>@ViewData["Title"] - tWiz</title>

    <meta name="description" content="" />

    <link rel="shortcut icon" type="image/x-icon" href="../landing/img/icon-white.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />

    <!-- Animate CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- DataTable JS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="../assets/vendor/libs/apex-charts/apex-charts.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <style>
        .swal2-container {
            z-index: 20000 !important;
        }
    </style>

    <script src="../assets/vendor/js/helpers.js"></script>
    <script src="../assets/js/config.js"></script>
</head>

<body>
    @await RenderSectionAsync("Toast", required: false)

    @* Modals*@
    <div class="modal fade" id="SignOutModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content text-center">
                <div class="modal-body">
                    <div class="h6 mb-0">Are you sure want to sign out?</div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <a href="@signout" class="btn btn-primary">Absolutely!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme @navbarClass.ToLower()">
                <div class="app-brand demo">
                    <a asp-asp-controller="Dashboard" asp-action="Index" class="app-brand-link">
                        <span class="app-brand-logo demo">

                        </span>
                        <span class="app-brand-text demo menu-text fw-bolder ms-2">
                            <img class="logo" src="../landing/img/icon-white.png" alt="" style="margin-right: 10px" />tWiz
                        </span>
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                @if (role == RoleLevel.Company.ToString())
                {
                    <ul class="menu-inner py-1">
                        <li class="menu-item @(active == "dashboard" ? "active" : "")">
                            <a asp-controller="Dashboard" asp-action="Index" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                                <div>Dashboard</div>
                            </a>
                        </li>

                        <li class="menu-item @(active == "event" || active == "create_event" || active == "invited_event" || active == "ticket" ? "active open" : "")">
                            <a href="#" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-cube"></i>
                                <div>Events</div>
                            </a>

                            <ul class="menu-sub">
                                <li class="menu-item @(active == "create_event" ? "active" : "")">
                                    <a asp-controller="Event" asp-action="Create" class="menu-link">
                                        <div>Create Event</div>
                                    </a>
                                </li>
                                <li class="menu-item @(active == "event" ? "active" : "")">
                                    <a asp-controller="Event" asp-action="Index" class="menu-link">
                                        <div>Events Control</div>
                                    </a>
                                </li>
                                <li class="menu-item @(active == "invited_event" ? "active" : "")">
                                    <a asp-controller="Event" asp-action="Invited" class="menu-link">
                                        <div>Invitations</div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item @(active == "employee" || active == "create_employee" || active == "import_employee" ? "active open" : "")">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-group"></i>
                                <div>Employees</div>
                            </a>

                            <ul class="menu-sub">
                                <li class="menu-item @(active == "import_employee" ? "active" : "")">
                                    <a asp-controller="Employee" asp-action="Import" class="menu-link">
                                        <div>Import</div>
                                    </a>
                                </li>
                                <li class="menu-item @(active == "create_employee" ? "active" : "")">
                                    <a asp-controller="Employee" asp-action="Create" class="menu-link">
                                        <div>Create Employee</div>
                                    </a>
                                </li>
                                <li class="menu-item @(active == "employee" ? "active" : "")">
                                    <a asp-controller="Employee" asp-action="Index" class="menu-link">
                                        <div>Employees Control</div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item @(active == "company" ? "active" : "")">
                            <a asp-controller="Company" asp-action="Index" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-buildings"></i>
                                <div>Companies</div>
                            </a>
                        </li>

                        <li class="menu-item">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-credit-card-alt"></i>
                                <div>Payment</div>
                            </a>

                            <ul class="menu-sub">
                                <li class="menu-item">
                                    <a href="#" class="menu-link">
                                        <div>Event Payment</div>
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="menu-link">
                                        <div>Purchase</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
                else if(role == RoleLevel.Employee.ToString())
                {
                    <ul class="menu-inner py-1">
                        <li class="menu-item @(active == "invited_event" || active == "ticket" ? "active open" : "")">
                            <a href="#" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-cube"></i>
                                <div>Events</div>
                            </a>

                            <ul class="menu-sub">
                                <li class="menu-item @(active == "invited_event" ? "active" : "")">
                                    <a asp-controller="Event" asp-action="Invited" class="menu-link">
                                        <div>Invitations</div>
                                    </a>
                                </li>
                                <li class="menu-item @(active == "ticket" ? "active" : "")">
                                    <a asp-controller="Event" asp-action="Ticket" class="menu-link">
                                        <div>Ticket</div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item @(active == "purchase" ? "active" : "")">
                            <a asp-controller="Employee" asp-action="Purchase" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-credit-card-alt"></i>
                                <div>Purchase</div>
                            </a>
                        </li>
                    </ul>
                }
                else if (role == RoleLevel.SysAdmin.ToString())
                {
                    <ul class="menu-inner py-1">
                        <li class="menu-item @(active == "dashboard" ? "active" : "")">
                            <a asp-controller="Dashboard" asp-action="Index" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                                <div>Dashboard</div>
                            </a>
                        </li>
                        <li class="menu-item @(active == "company" || active == "activated_commpany" || active == "deactivated_company" ? "active open" : "")">
                            <a href="#" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-building"></i>
                                <div>Company</div>
                            </a>

                            <ul class="menu-sub">
                                <li class="menu-item @(active == "company" ? "active" : "")">
                                    <a asp-controller="Company" asp-action="Index" class="menu-link">
                                        <div>Company Control</div>
                                    </a>
                                </li>
                                <li class="menu-item @(active == "deactivated_company" ? "active" : "")">
                                    <a asp-controller="Company" asp-action="Deactivated" class="menu-link">
                                        <div>Deactivated</div>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item @(active == "register_payment" || active == "need_approval" ? "active open" : "")">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-credit-card-alt"></i>
                                <div>Payment</div>
                            </a>

                            <ul class="menu-sub">
                                <li class="menu-item @(active == "register_payment" ? "active" : "")">
                                    <a asp-controller="Payment" asp-action="RegisterPayment" class="menu-link">
                                        <div>Register Payment</div>
                                    </a>
                                </li>
                                <li class="menu-item @(active == "need_approval" ? "active" : "")">
                                    <a asp-controller="Payment" asp-action="NeedApproval" class="menu-link">
                                        <div>Need Approvals</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            </aside>
            
            <div class="layout-page">

                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <span class="me-2" id="greeting">Welcome Back!</span>
                                <span class="text-uppercase"><strong>@username</strong></span>
                                @if(role == RoleLevel.SysAdmin.ToString()){
                                    <span>. You are SysAdmin</span>
                                }
                            </div>
                        </div>

                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online">
                                        <img src="@avatar" alt="" class="w-px-40 h-auto rounded-circle" />
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block text-uppercase">
                                                        @username
                                                    </span>
                                                    <small class="text-muted text-capitalize">@role</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>

                                    <li>
                                        <button class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#SignOutModal">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Sign Out</span>
                                        </button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">

                        <div class="row mb-3">
                            <div class="col">
                                <h4 class="fw-bold pb-2 mb-0">@ViewData["Title"]</h4>
                            </div>

                            @await RenderSectionAsync("Filter", required: false)
                        </div>

                        <div class="row" id="render-body">
                            @RenderBody()
                        </div>
                    </div>

                    <footer class="content-footer footer bg-footer-theme">
                        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                            <div class="mb-2 mb-md-0">
                                ©
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                                tWiz - Corporate Events Arrangement
                            </div>
                            <div>
                                <span class="footer-link me-4">All Rights Reserved</span>
                            </div>
                        </div>
                    </footer>

                    <div class="content-backdrop fade"></div>
                </div>
            </div>
        </div>
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.8.0/dist/JsBarcode.all.min.js"></script>

    <!-- DataTable JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap4.min.js"></script>

    <script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/ui-popover.js"></script>

    <script src="../assets/js/ui-toasts.js"></script>
    <script type="text/javascript">
        setTimeout(function () {
            $(".toast").addClass('show');
        }, 500);

        setTimeout(function () {
            $(".toast").removeClass('show');
        }, 5000);
    </script>

    <script src="../assets/js/dashboards-analytics.js"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.all.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.min.css" rel="stylesheet">
    
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        var currentHour = new Date().getHours();
        var greeting = getGreeting(currentHour);
        document.getElementById("greeting").textContent = greeting;

        function getGreeting(hour) {
            if (hour >= 5 && hour < 11) {
                return "Good Morning!";
            } else if (hour >= 11 && hour < 15) {
                return "Good Day!";
            } else if (hour >= 15 && hour < 18) {
                return "Good Afternoon!";
            } else {
                return "Good Evening!";
            }
        }
    </script>
</body>
</html>